.kapla-breadcrumb__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.kapla-breadcrumb-item {
  display: flex;
  align-items: center;
  color: var(--colorNeutralForeground2);
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.kapla-breadcrumb-button {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  font-family: var(--fontFamilyBase);
  outline-style: none;
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBase300);
  line-height: var(--lineHeightBase300);
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);

  flex-wrap: nowrap;
  min-width: unset;
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
  border-color: transparent;
  font-weight: var(--fontWeightRegular);
}

.kapla-breadcrumb-button:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
  cursor: pointer;
}

.kapla-breadcrumb-button:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
  outline-style: none;
}

.kapla-breadcrumb-button--current {
  font-weight: var(--fontWeightSemibold);
}

.kapla-breadcrumb-button--current:hover {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorTransparentBackground);
  cursor: auto;
}

.kapla-breadcrumb-button--current:hover:active {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorTransparentBackground);
  outline-style: none;
}

.kapla-breadcrumb-divider {
  font-size: 16px;
  display: flex;
}

.kapla-breadcrumb-divider > svg {
  display: inline;
  line-height: 0;
}